.header-popup__link {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.header-popup__link:hover {
  background-color: var(--primary-hover);
}

.header-popup__image {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.header-popup__label {
  color: white;
}
